@media screen and (max-width: 1000px) {
    .floatCenterSlice {
        bottom: -75px;
        left: 48%;
    } 

    .floatCenterSlice2 {
        bottom: -100px;
        left: 48%;
    }
    
    .floatRightHelp {
        bottom: 55px;
    }
    
    .container {
        margin-top: 5rem;
    }
    
   /* -------------------------------------------------------------------------- */ 
    #vista1 .tittle h2 {
        font-size: 50px;
        text-align: center;
    }

    #vista1 .subTittle h5 {
        font-size: 20px;
        font-weight: 600;
    }

    #vista1 .video {
        width: 100%;
        height: auto;
        justify-content: center;
        margin-top: 8%;
    }

    #vista1 .video iframe {
        margin-top: 5px;
        margin-left: 15px;
        width: 95%;
        height: 320px;
    }

/* -------------------------------------------------------------------------- */

    #vista2 .hr img {
        width: 120px;
    }

    #vista2 .tittle {
        margin-left: 10px;
    } 

    #vista2 .row h6 {
        margin-left: 10px;
    }

    #vista2 .formulario {
        width: 95%;
        margin-left: 35px;
        margin-top: 2rem;
    }

    /* -------------------------------------------------------------------------- */
    #vista3 .container {
        margin-top: 2rem;
    }
    #vista3 .hr img {
        width: 120px;
    }

    #vista3 .tittle h6 {
        font-size: 20px;
        width: 90%;
    }

    #vista3 .subItems .subItems2 {
        height: 420px;
        width: 100%;
    }

    #vista3 .subItems .subItems2 img {
        object-fit: contain;
        margin-left: 0;
        height: 31%;
        left: 25%;
    }

    /* -------------------------------------------------------------------------- */

    #vista4 .hr img {
        width: 120px;
    }

    #vista4 .tittle h6 {
        font-size: 20px;
    }

    #vista4 .carrusel {
        height: 700px;
    }

    #vista4 .items-carrusel-p {
        margin-left: 10px;
        margin-top: 10px;
        margin-right: 10px;
    }

    #vista4 .exito {
        margin-top: 10px;
    }

    #vista4 .items-carrusel{
        margin-bottom: 2rem;
    }

    #vista4 .items-carrusel img{
        margin-top: 0px;
    }

    #vista4 .img-img4 {
        margin-top: 8%;
    }

    #carouselExampleControls {
        margin-right: 0px;
    }

    /* -------------------------------------------------------------------------- */

    #vista5 .hr img {
        width: 120px;
    }

    #vista5 .tittle h6 {
        font-size: 20px;
    }

    #vista5 .tittle h6 {
        width: 50%;
    }

    #vista5 .subTittle .carrusel {
        width: 100%;
    }

    #vista5 .items-carrusel {
        margin-bottom: 5rem;
    }

    #vista5 .items-carrusel-p {
        margin-top: 5%;
        margin-left: 0px;
    }

    #vista5 .subTittle .carrusel {
        height: 460px;
    }

    #vista5 .items-carrusel img {
        margin-top: 0px;
    }

    /* -------------------------------------------------------------------------- */

    #vista6 .hr img {
        width: 120px;
    }

    #vista6 .tittle h6 {
        font-size: 20px;
    }


    #vista6 .subTittle .carrusel {
        width: 100%;
        height: 460px;
        margin-top: 5rem;
    }

    #vista6 .items-carrusel-p {
        margin-left: 0px;
    }

    #vista6 .items-carrusel img {
        margin-top: 0px;
    }

    /* -------------------------------------------------------------------------- */

    #vista7 .bg-img {
        height: 40vh;
        margin-top: 2rem;
    }

}

@media screen and (max-width: 999px) {
    #vista2 .formulario {
        height: 700px;
    }
}

@media screen and (max-width: 800px) {
    
    .floatRightHelp {
        bottom: 30px;
    }

    .container {
        overflow: scroll;
        height: 100vh;
        margin-top: 2rem;
    }


    /* -------------------------------------------------------------------------- */ 
    #vista1 {
        height: 750px;
    }
    
    #vista1 .tittle {
        margin-top: 0px;
    }

    #vista1 .tittle h2 {
        line-height: 50px;
    }

    #vista1 .video {
        margin-top: 0px;
    }

    #vista1 .video iframe {
        border-radius: 20px;
    }

    /* -------------------------------------------------------------------------- */ 
    #vista2 {
        height: 750px;
    }

    #vista2 .hr {
        margin-left: 125%;
    }

    #vista2 .tittle h4 {
        font-size: 40px;
    }

    #vista2 .row h6 {
        font-size: 15px;
    }

    #vista2 .formulario {
        margin-top: 0px;
        font-size: 12px;
        height: auto;
        margin-bottom: 2rem;
    }

    /* -------------------------------------------------------------------------- */ 
    #vista3 {
        height: 750px;
    }

    #vista3 .hr {
        margin-left: 125%;
    }

    #vista3 .tittle h4 {
        font-size: 40px;
    }

    #vista3 .tittle h6 {
        font-size: 15px;
    }

    #vista3 .subItems {
        margin-bottom: 2rem;
    }

    #vista3 .subItems h6 {
        font-size: 20px;
    }

    #vista3 .subItems .subItems1 p {
        font-size: 15px;
        line-height: 20px;
    }

    #vista3 .subItems .subItems1 {
        margin: 0px;
        margin-left: 10px;
    }

    #vista3 .subItems img {
        position: relative;
    }

    #vista3 .subItems .subItems2 img {
        height: 90%;
        left: 15%;
    }

    #vista3 .subItems .subItems2 {
        height: 400px;
        width: 100%;
    }

    #vista3 .subItems .row .row {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .floatRightHelp {
        display: none;
    }
    .floatCenterSlice2 {
        display: none;
    }

    .floatCenterSlice{
        display: none;
    }

    /* -------------------------------------------------------------------------- */
    #vista2 .hr {
        margin-left: 100%;
    }

    #vista2 .formulario {
        margin-left: 10px;
        width: 100%;
    }

    /* -------------------------------------------------------------------------- */
    #vista3 .hr {
        margin-left: 100%;
    }

    #vista3 .subItems .subItems1 {
        margin-left: 22px;
    }

    #vista3 .subItems .subItems2 {
        height: 300px;
        width: 95%;
        margin-left: 10px;
    }
    
    #vista3 .subItems .subItems2 img {
        height: 95%;
        left: 0;
    }

    /* -------------------------------------------------------------------------- */
    #vista4 {
        height: 750px;
    }
    
    #vista4 .hr {
        margin-left: 100%;
    }

    #vista4 .tittle h6 {
        width: 80%;
    }

    #vista4 .carrusel {
        height: 650px;
        margin-bottom: 2rem;
    }

    /* -------------------------------------------------------------------------- */
    #vista5 {
        height: 750px;
    }
    
    #vista5 .hr {
        margin-left: 100%;
    }

    #vista5 .tittle h6 {
        width: 80%;
    }

    #vista5 .subTittle .carrusel {
        height: 320px;
        margin-bottom: 2rem;
    }

    #vista5 .items-carrusel img {
        margin-left: 0px;
        position: relative;
    }

    #vista5 .items-carrusel .row p {
        margin-left: 50px;
    }

    #vista5 .items-carrusel {
        margin-bottom: 2rem;
    }

    /* -------------------------------------------------------------------------- */
    #vista6 {
        height: 750px;
    }
    
    #vista6 .hr {
        margin-left: 100%;
    }

    #vista6 .tittle h6 {
        width: 80%;
    }

    #vista6 .items-carrusel .row p {
        width: 90%;
        margin-left: 50px;
        margin-top: 0px;
    }

    #vista6 .subTittle .carrusel {
        margin-top: 2rem;
        height: 350px;
        margin-bottom: 2rem;
    }

    #vista6 .items-carrusel img {
        margin-top: 0px;
        margin-left: 0px;
        position: relative;
    }

    #vista6 .items-carrusel-p {
        margin-top: 5%;
    }


    /* -------------------------------------------------------------------------- */
    #vista7 .tittle h4 {
        font-size: 40px;
    }

    #vista7 .subtittle1 p {
        font-size: 20px;
    }

}

@media screen and (max-width: 380px) {
    .floatRightHelp{
        display: none;
    }
    
    #vista1 .video iframe {
        margin-left: 9px;
    }


    /* -------------------------------------------------------------------------- */
    #vista2 .container {
        margin-top: 1rem;
        margin-bottom: 2rem
    }
    
    #vista2 .hr {
        margin-left: 65%;
    }

    #vista2 .tittle {
        margin-left: 0px;
    }

    #vista2 .row h6 {
        margin-left: 0px;
    }

    /* #vista2 .formulario {
        margin-left: 9px;
    } */

    /* -------------------------------------------------------------------------- */
    #vista3 .container {
        margin-top: 1rem;
        margin-bottom: 2rem
    }
    
    #vista3 .hr {
        margin-left: 65%;
    }

    #vista3 .tittle {
        margin-left: 0px;
    }

    #vista3 .subItems img {
        width: 40px;
    }

    #vista3 .subItems .subItems2{
        margin-left: 15px;
        margin-top: 0px;
        width: 90%;
    }

    #vista3 .subItems .subItems1 p {
        margin-bottom: 0px;
    }

    #vista3 .subItems .subItems2 img {
        left: 5%;
        width: 95%;
    }

    /* -------------------------------------------------------------------------- */
    .floatCenterSlice2 {
        display: none;
    }

    .floatCenterSlice{
        display: none;
    }
    
    #vista4 .container {
        margin-top: 1rem;
        margin-bottom: 2rem
    }
    
    #vista4 .hr {
        margin-left: 65%;
    }

    #vista4 .tittle {
        margin-left: 0px;
    }

    #vista4 .tittle h4 {
        font-size: 40px;
    }

    #carouselExampleControls .carousel-control-prev {
        left: 20%;
    }

    #carouselExampleControls .carousel-control-next {
        right: 20%;
    } 

    #vista4 .items-carrusel img {
        margin-left: 10px;
    }

    #vista4 .items-carrusel .row p {
        margin-left: 100px;
    }

    /* -------------------------------------------------------------------------- */
    #vista5 .container {
        margin-top: 1rem;
        margin-bottom: 2rem
    }
    
    #vista5 .hr {
        margin-left: 65%;
    }

    #vista5 .tittle {
        margin-left: 0px;
    }

    #vista5 .tittle h4 {
        font-size: 40px;
    }

    #vista5 .items-carrusel img {
        width: 70px;
        margin-top: 10px;
    }

    #vista5 .subTittle .carrusel {
        height: 280px;
        width: 95%;
        margin-left: 5px;
    }

    #carouselExampleControls2 .carousel-control-next {
        right: 20%;
    }

    #carouselExampleControls2 .carousel-control-prev {
        left: 20%;
    }

    /* -------------------------------------------------------------------------- */
    #vista6 .container {
        margin-top: 1rem;
        margin-bottom: 2rem
    }
    
    #vista6 .hr {
        margin-left: 65%;
    }

    #vista6 .tittle {
        margin-left: 0px;
    }

    #vista6 .tittle h4 {
        font-size: 40px;
    }

    #vista6 .items-carrusel-p {
        margin-top: 0px;
    }

    #vista6 .items-carrusel img {
        width: 70px;
        margin-top: 10px;
    }

    #vista6 .subTittle .carrusel {
        height: 280px;
        width: 95%;
        margin-left: 8px;
    }

    #carouselExampleControls3 .carousel-control-next {
        right: 20%;
    }

    #carouselExampleControls3 .carousel-control-prev {
        left: 20%;
    }

    /* -------------------------------------------------------------------------- */
    #vista7 .container {
        margin-top: 1rem;
        margin-bottom: 2rem
    }
}

/* @media screen and (max-width: 700px) and (max-height: 1100px) {
    .container {
        margin-top: 2rem;
        margin-bottom: 0px;
        overflow: inherit;
    }

    #vista1 .floatRightHelp {
        bottom: -303px;
    }

    #vista2 .floatRightHelp {
        bottom: -303px;
    }

    #vista3 .floatRightHelp {
        bottom: -303px;
    }

    #vista3 .subItems .subItems1 {
        margin-left: 25px;
    }

    #vista3 .subItems .subItems1 p {
        margin-top: 5px;
    }

    #vista3 .subItems .subItems2 img {
        left: 5%;
    }

    #carouselExampleControls .carousel-control-next {
        right: 20%;
    }

    #carouselExampleControls .carousel-control-prev {
        left: 20%;
    }

    .floatCenterSlice {
        display: none;
    }
    
    .floatCenterSlice2{
        display: none;
    }
    
    #vista4 .tittle h6 {
        width: 90%;
    }

    #vista4 .hr {
        margin-left: 125%;
    }

    #vista4 .floatRightHelp{
        bottom: 50px;
    }

    #vista4 .carrusel {
        height: 650px;
    }

    #carouselExampleControls2 .carousel-control-next {
        right: 20%;
    }

    #carouselExampleControls2 .carousel-control-prev {
        left: 20%;
    }

    #vista5 .hr{
        margin-left: 125%;
    }

    #vista5 .items-carrusel {
        margin-bottom: 2rem;
    }

    #vista5 .subTittle .carrusel {
        height: 370px;
    }


    #vista5 .items-carrusel img {
        margin-left: 0px;
    }

    #vista5 .tittle h6 {
        width: 100%;
    }

    #vista6 .hr {
        margin-left: 125%;
    }

    #vista6 .items-carrusel-p {
        margin-top: 0px;
    }

    #vista6 .items-carrusel img {
        margin-left: 0px;
    }

    #vista6 .items-carrusel .row p {
        margin-top: 0px;
    }

    .floatRightHelp {
        bottom: 50px;
    }

    #carouselExampleControls3 .carousel-control-next {
        right: 20%;
    }

    #carouselExampleControls3 .carousel-control-prev {
        left: 20%;
    }

    #vista6 .subTittle .carrusel {
        margin-top: 2rem;
        height: 370px;
    }

    #vista7 .bg-img {
        height: 32vh;
        margin-top: 1rem;
    }

} */